
@font-face {
  font-family: "IBMPlexSans";
  src: url('../fonts/IBMPlexSans-Regular.otf') format("opentype");
}
@font-face {
  font-family: "IBMPlexSans-SemiBold";
  src: url('../fonts/IBMPlexSans-SemiBold.otf') format("opentype");
}
@font-face {
  font-family: "IBMPlexSans-Medium";
  src: url('../fonts/IBMPlexSans-Medium.otf') format("opentype");
}
@font-face {
  font-family: "IBMPlexSans-Light";
  src: url('../fonts/IBMPlexSans-Light.otf') format("opentype");
}
@font-face {
  font-family: "IBMPlexSans-Bold";
  src: url('../fonts/IBMPlexSans-Bold.otf') format("opentype");
}

.dispatch-status-report-summary-view-desktop {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 953px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.dispatch-status-report-summary-view-desktop .nav-top-header {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 280px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.dispatch-status-report-summary-view-desktop .nav-top-header .rectangle {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 280px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.dispatch-status-report-summary-view-desktop .nav-top-header .nav-header-v2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 38px;
  height              : 16px;
  width               : 1319px;
  position            : absolute;
  margin              : 0;
  left                : 54px;
}
.dispatch-status-report-summary-view-desktop .nav-top-header .nav-header-v2 .icon-menu {
  background-color    : rgba(255, 255, 255, 0.0);
  width               : 100%;
  height              : 13px;
  pointer-events      : auto;
  position            : relative;
}
.dispatch-status-report-summary-view-desktop .nav-top-header .nav-header-v2 .icon-menu-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0;
  height              : 100%;
  width               : 19px;
  justify-content     : center;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 1300px;
}
.dispatch-status-report-summary-view-desktop .nav-top-header .nav-header-v2 .icon-menu .shape {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 13px;
  width               : 19px;
  position            : relative;
  margin              : 0;
  left                : 0px;
}
.dispatch-status-report-summary-view-desktop .nav-top-header .nav-header-v2 .postal-app-logo {
  background-color    : rgba(255, 255, 255, 0.0);
  width               : 146px;
  height              : 100%;
  pointer-events      : auto;
  position            : relative;
}
.dispatch-status-report-summary-view-desktop .nav-top-header .nav-header-v2 .postal-app-logo-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0px;
  align-items         : center;
  height              : 16px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.dispatch-status-report-summary-view-desktop .nav-top-header .nav-header-v2 .postal-app-logo .settlement-simulator {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  font-family         : "IBMPlexSans-SemiBold", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 15.0px;
}
.dispatch-status-report-summary-view-desktop .nav-top-header .nav-header-v2 .back {
  background-color    : rgba(255, 255, 255, 0.0);
  width               : 100%;
  height              : 16px;
  pointer-events      : auto;
  position            : relative;
}
.dispatch-status-report-summary-view-desktop .nav-top-header .nav-header-v2 .back-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0;
  height              : 100%;
  width               : 37px;
  justify-content     : center;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0px;
}
.dispatch-status-report-summary-view-desktop .nav-top-header .nav-header-v2 .back .back1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : -0.2px;
  line-height         : 15.0px;
}
.dispatch-status-report-summary-view-desktop .nav-top-header .nav-header-v2 .back .path4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 4px;
  height              : 9px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.dispatch-status-report-summary-view-desktop .nav-top-header .molecules-tabs {
  background-color    : rgba(255, 255, 255, 0.0);
  width               : 920px;
  height              : 100%;
  pointer-events      : auto;
  position            : relative;
}
.dispatch-status-report-summary-view-desktop .nav-top-header .molecules-tabs-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 232px;
  align-items         : center;
  height              : 48px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.dispatch-status-report-summary-view-desktop .nav-top-header .molecules-tabs .summary-view {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 1px;
  height              : auto;
  width               : 270px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "IBMPlexSans-Medium", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 20.0px;
}
.dispatch-status-report-summary-view-desktop .nav-top-header .molecules-tabs .reconciled-items {
  background-color    : rgba(255, 255, 255, 0.0);
  width               : 244px;
  height              : auto;
  pointer-events      : auto;
  position            : relative;
  opacity             : 0.35;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 20.0px;
}
.dispatch-status-report-summary-view-desktop .nav-top-header .molecules-tabs .reconciled-items-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 1px;
  align-items         : center;
  height              : auto;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.dispatch-status-report-summary-view-desktop .nav-top-header .molecules-tabs .unreconciled-items {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 1px;
  height              : auto;
  width               : 247px;
  position            : absolute;
  margin              : 0;
  left                : 672px;
  opacity             : 0.35;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 20.0px;
}
.dispatch-status-report-summary-view-desktop .nav-top-header .molecules-tabs .line {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 45px;
  height              : 3px;
  width               : 258px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
}
.dispatch-status-report-summary-view-desktop .nav-top-header .molecules1-column-top-header-copy {
  background-color    : rgba(255, 255, 255, 0.0);
  width               : 382px;
  margin-right        : -10px;
  height              : 100%;
  pointer-events      : auto;
  margin-left         : 10px;
  position            : relative;
}
.dispatch-status-report-summary-view-desktop .nav-top-header .molecules1-column-top-header-copy-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 109px;
  align-items         : center;
  height              : 63px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.dispatch-status-report-summary-view-desktop .nav-top-header .molecules1-column-top-header-copy .rectangle2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 63px;
  width               : 382px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.dispatch-status-report-summary-view-desktop .nav-top-header .molecules1-column-top-header-copy .a546-g {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 27px;
  height              : auto;
  width               : 382px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "IBMPlexSans-Medium", Helvetica, Arial, serif;
  font-size           : 28.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : -0.47px;
  line-height         : 37.0px;
}
.dispatch-status-report-summary-view-desktop .nav-top-header .molecules1-column-top-header-copy .dispatch-id {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 1px;
  height              : auto;
  width               : 382px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(18, 189, 235, 1.0);
  text-align          : center;
  line-height         : 20.0px;
}
.dispatch-status-report-summary-view-desktop .rectangle14 {
  background-color    : rgba(240, 245, 250, 1.0);
  top                 : 405px;
  height              : 35px;
  width               : 558px;
  position            : absolute;
  margin              : 0;
  left                : 738px;
  opacity             : 0.5;
}
.dispatch-status-report-summary-view-desktop .rectangle14-copy3 {
  background-color    : rgba(240, 245, 250, 1.0);
  top                 : 614px;
  height              : 35px;
  width               : 558px;
  position            : absolute;
  margin              : 0;
  left                : 738px;
  opacity             : 0.5;
}
.dispatch-status-report-summary-view-desktop .rectangle14-copy2 {
  background-color    : rgba(240, 245, 250, 1.0);
  top                 : 545px;
  height              : 35px;
  width               : 558px;
  position            : absolute;
  margin              : 0;
  left                : 738px;
  opacity             : 0.5;
}
.dispatch-status-report-summary-view-desktop .rectangle14-copy {
  background-color    : rgba(240, 245, 250, 1.0);
  top                 : 475px;
  height              : 35px;
  width               : 558px;
  position            : absolute;
  margin              : 0;
  left                : 738px;
  opacity             : 0.5;
}
.dispatch-status-report-summary-view-desktop .featured-categories {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 330px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 260px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(84, 35, 217, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.dispatch-status-report-summary-view-desktop .other-statuses {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 331px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 740px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(84, 35, 217, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.dispatch-status-report-summary-view-desktop .ui-featured-status {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 375px;
  height              : 112px;
  width               : 116px;
  position            : absolute;
  margin              : 0;
  left                : 263px;
}
.dispatch-status-report-summary-view-desktop .ui-featured-status .oval4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 66px;
  width               : 65px;
  position            : absolute;
  margin              : 0;
  left                : 26px;
}
.dispatch-status-report-summary-view-desktop .ui-featured-status .a15 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 17px;
  height              : auto;
  width               : 44px;
  position            : absolute;
  margin              : 0;
  left                : 37px;
  font-family         : "IBMPlexSans-Light", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(18, 189, 235, 1.0);
  text-align          : center;
  letter-spacing      : -0.4px;
  line-height         : 32.0px;
}
.dispatch-status-report-summary-view-desktop .ui-featured-status .total-reconciled-ite {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 75px;
  height              : auto;
  width               : 116px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(51, 51, 102, 1.0);
  text-align          : center;
  letter-spacing      : -0.2px;
  line-height         : 19.0px;
}
.dispatch-status-report-summary-view-desktop .ui-featured-status-copy3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 518px;
  height              : 112px;
  width               : 133px;
  position            : absolute;
  margin              : 0;
  left                : 447px;
}
.dispatch-status-report-summary-view-desktop .ui-featured-status-copy3 .oval41 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 66px;
  width               : 65px;
  position            : absolute;
  margin              : 0;
  left                : 35px;
}
.dispatch-status-report-summary-view-desktop .ui-featured-status-copy3 .a151 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 17px;
  height              : auto;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 43px;
  font-family         : "IBMPlexSans-Light", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(18, 189, 235, 1.0);
  text-align          : center;
  letter-spacing      : -0.4px;
  line-height         : 32.0px;
}
.dispatch-status-report-summary-view-desktop .ui-featured-status-copy3 .total-reconciled-ite1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 75px;
  height              : auto;
  width               : 133px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(51, 51, 102, 1.0);
  text-align          : center;
  letter-spacing      : -0.2px;
  line-height         : 19.0px;
}
.dispatch-status-report-summary-view-desktop .ui-featured-status-copy {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 375px;
  height              : 112px;
  width               : 116px;
  position            : absolute;
  margin              : 0;
  left                : 456px;
}
.dispatch-status-report-summary-view-desktop .ui-featured-status-copy .oval42 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 66px;
  width               : 65px;
  position            : absolute;
  margin              : 0;
  left                : 26px;
}
.dispatch-status-report-summary-view-desktop .ui-featured-status-copy .a152 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 17px;
  height              : auto;
  width               : 44px;
  position            : absolute;
  margin              : 0;
  left                : 37px;
  font-family         : "IBMPlexSans-Light", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(18, 189, 235, 1.0);
  text-align          : center;
  letter-spacing      : -0.4px;
  line-height         : 32.0px;
}
.dispatch-status-report-summary-view-desktop .ui-featured-status-copy .total-reconciled-ite2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 75px;
  height              : auto;
  width               : 116px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(51, 51, 102, 1.0);
  text-align          : center;
  letter-spacing      : -0.2px;
  line-height         : 19.0px;
}
.dispatch-status-report-summary-view-desktop .ui-featured-status-copy2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 518px;
  height              : 112px;
  width               : 116px;
  position            : absolute;
  margin              : 0;
  left                : 263px;
}
.dispatch-status-report-summary-view-desktop .ui-featured-status-copy2 .oval43 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 66px;
  width               : 65px;
  position            : absolute;
  margin              : 0;
  left                : 26px;
}
.dispatch-status-report-summary-view-desktop .ui-featured-status-copy2 .a153 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 17px;
  height              : auto;
  width               : 44px;
  position            : absolute;
  margin              : 0;
  left                : 37px;
  font-family         : "IBMPlexSans-Light", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(18, 189, 235, 1.0);
  text-align          : center;
  letter-spacing      : -0.4px;
  line-height         : 32.0px;
}
.dispatch-status-report-summary-view-desktop .ui-featured-status-copy2 .total-reconciled-ite3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 75px;
  height              : auto;
  width               : 116px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(51, 51, 102, 1.0);
  text-align          : center;
  letter-spacing      : -0.2px;
  line-height         : 19.0px;
}
.dispatch-status-report-summary-view-desktop .ui-list {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 378px;
  height              : 28px;
  width               : 556px;
  position            : absolute;
  margin              : 0;
  left                : 739px;
}
.dispatch-status-report-summary-view-desktop .ui-list .a45 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  font-family         : "IBMPlexSans-Light", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(18, 189, 235, 1.0);
  text-align          : left;
  letter-spacing      : -0.3px;
  line-height         : 23.0px;
}
.dispatch-status-report-summary-view-desktop .ui-list .package-created-copy {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 3px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 92px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(51, 51, 102, 1.0);
  text-align          : left;
  letter-spacing      : -0.2px;
  line-height         : 15.0px;
}
.dispatch-status-report-summary-view-desktop .ui-list .line-copy {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 26px;
  height              : 2px;
  width               : 556px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.dispatch-status-report-summary-view-desktop .ui-list-copy4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 518px;
  height              : 28px;
  width               : 556px;
  position            : absolute;
  margin              : 0;
  left                : 739px;
}
.dispatch-status-report-summary-view-desktop .ui-list-copy4 .a451 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  font-family         : "IBMPlexSans-Light", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(18, 189, 235, 1.0);
  text-align          : left;
  letter-spacing      : -0.3px;
  line-height         : 23.0px;
}
.dispatch-status-report-summary-view-desktop .ui-list-copy4 .package-created-copy1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 3px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 92px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(51, 51, 102, 1.0);
  text-align          : left;
  letter-spacing      : -0.2px;
  line-height         : 15.0px;
}
.dispatch-status-report-summary-view-desktop .ui-list-copy4 .line-copy1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 26px;
  height              : 2px;
  width               : 556px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.dispatch-status-report-summary-view-desktop .ui-list-copy2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 448px;
  height              : 28px;
  width               : 556px;
  position            : absolute;
  margin              : 0;
  left                : 739px;
}
.dispatch-status-report-summary-view-desktop .ui-list-copy2 .a452 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  font-family         : "IBMPlexSans-Light", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(18, 189, 235, 1.0);
  text-align          : left;
  letter-spacing      : -0.3px;
  line-height         : 23.0px;
}
.dispatch-status-report-summary-view-desktop .ui-list-copy2 .package-created-copy2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 3px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 92px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(51, 51, 102, 1.0);
  text-align          : left;
  letter-spacing      : -0.2px;
  line-height         : 15.0px;
}
.dispatch-status-report-summary-view-desktop .ui-list-copy2 .line-copy2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 26px;
  height              : 2px;
  width               : 556px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.dispatch-status-report-summary-view-desktop .ui-list-copy5 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 587px;
  height              : 28px;
  width               : 556px;
  position            : absolute;
  margin              : 0;
  left                : 739px;
}
.dispatch-status-report-summary-view-desktop .ui-list-copy5 .a453 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  font-family         : "IBMPlexSans-Light", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(18, 189, 235, 1.0);
  text-align          : left;
  letter-spacing      : -0.3px;
  line-height         : 23.0px;
}
.dispatch-status-report-summary-view-desktop .ui-list-copy5 .package-created-copy3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 3px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 92px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(51, 51, 102, 1.0);
  text-align          : left;
  letter-spacing      : -0.2px;
  line-height         : 15.0px;
}
.dispatch-status-report-summary-view-desktop .ui-list-copy5 .line-copy3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 26px;
  height              : 2px;
  width               : 556px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.dispatch-status-report-summary-view-desktop .ui-list-copy {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 413px;
  height              : 28px;
  width               : 556px;
  position            : absolute;
  margin              : 0;
  left                : 739px;
}
.dispatch-status-report-summary-view-desktop .ui-list-copy .a454 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  font-family         : "IBMPlexSans-Light", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(18, 189, 235, 1.0);
  text-align          : left;
  letter-spacing      : -0.3px;
  line-height         : 23.0px;
}
.dispatch-status-report-summary-view-desktop .ui-list-copy .package-created-copy4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 3px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 92px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(51, 51, 102, 1.0);
  text-align          : left;
  letter-spacing      : -0.2px;
  line-height         : 15.0px;
}
.dispatch-status-report-summary-view-desktop .ui-list-copy .line-copy4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 26px;
  height              : 2px;
  width               : 556px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.dispatch-status-report-summary-view-desktop .ui-list-copy6 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 552px;
  height              : 28px;
  width               : 556px;
  position            : absolute;
  margin              : 0;
  left                : 739px;
}
.dispatch-status-report-summary-view-desktop .ui-list-copy6 .a455 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  font-family         : "IBMPlexSans-Light", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(18, 189, 235, 1.0);
  text-align          : left;
  letter-spacing      : -0.3px;
  line-height         : 23.0px;
}
.dispatch-status-report-summary-view-desktop .ui-list-copy6 .package-created-copy5 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 3px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 92px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(51, 51, 102, 1.0);
  text-align          : left;
  letter-spacing      : -0.2px;
  line-height         : 15.0px;
}
.dispatch-status-report-summary-view-desktop .ui-list-copy6 .line-copy5 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 26px;
  height              : 2px;
  width               : 556px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.dispatch-status-report-summary-view-desktop .ui-list-copy3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 483px;
  height              : 28px;
  width               : 556px;
  position            : absolute;
  margin              : 0;
  left                : 739px;
}
.dispatch-status-report-summary-view-desktop .ui-list-copy3 .a456 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  font-family         : "IBMPlexSans-Light", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(18, 189, 235, 1.0);
  text-align          : left;
  letter-spacing      : -0.3px;
  line-height         : 23.0px;
}
.dispatch-status-report-summary-view-desktop .ui-list-copy3 .package-created-copy6 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 3px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 92px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(51, 51, 102, 1.0);
  text-align          : left;
  letter-spacing      : -0.2px;
  line-height         : 15.0px;
}
.dispatch-status-report-summary-view-desktop .ui-list-copy3 .line-copy6 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 26px;
  height              : 2px;
  width               : 556px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.dispatch-status-report-summary-view-desktop .ui-list-copy7 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 622px;
  height              : 28px;
  width               : 556px;
  position            : absolute;
  margin              : 0;
  left                : 739px;
}
.dispatch-status-report-summary-view-desktop .ui-list-copy7 .a457 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  font-family         : "IBMPlexSans-Light", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(18, 189, 235, 1.0);
  text-align          : left;
  letter-spacing      : -0.3px;
  line-height         : 23.0px;
}
.dispatch-status-report-summary-view-desktop .ui-list-copy7 .package-created-copy7 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 3px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 92px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(51, 51, 102, 1.0);
  text-align          : left;
  letter-spacing      : -0.2px;
  line-height         : 15.0px;
}
.dispatch-status-report-summary-view-desktop .ui-list-copy7 .line-copy7 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 26px;
  height              : 2px;
  width               : 556px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.dispatch-status-report-summary-view-desktop .ui-list-copy8 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 657px;
  height              : 28px;
  width               : 556px;
  position            : absolute;
  margin              : 0;
  left                : 739px;
}
.dispatch-status-report-summary-view-desktop .ui-list-copy8 .a458 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  font-family         : "IBMPlexSans-Light", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(18, 189, 235, 1.0);
  text-align          : left;
  letter-spacing      : -0.3px;
  line-height         : 23.0px;
}
.dispatch-status-report-summary-view-desktop .ui-list-copy8 .package-created-copy8 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 3px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 92px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(51, 51, 102, 1.0);
  text-align          : left;
  letter-spacing      : -0.2px;
  line-height         : 15.0px;
}
.dispatch-status-report-summary-view-desktop .ui-list-copy8 .line-copy8 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 26px;
  height              : 2px;
  width               : 556px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.dispatch-status-report-summary-view-desktop .ui-back-dark {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 749px;
  height              : 16px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 698px;
}
.dispatch-status-report-summary-view-desktop .ui-back-dark .back2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 13px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(51, 51, 102, 1.0);
  text-align          : center;
  letter-spacing      : -0.2px;
  line-height         : 15.0px;
}
.dispatch-status-report-summary-view-desktop .ui-back-dark .path41 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 4px;
  height              : 9px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.dispatch-status-report-summary-view-desktop .nav-footer-ipad {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 774px;
  height              : 179px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.dispatch-status-report-summary-view-desktop .nav-footer-ipad .rectangle11 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 2px;
  height              : 177px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.dispatch-status-report-summary-view-desktop .nav-footer-ipad .page1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 178px;
  width               : 158px;
  position            : absolute;
  margin              : 0;
  left                : 342px;
}
.dispatch-status-report-summary-view-desktop .nav-footer-ipad .page1 .fill1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 96px;
  width               : 158px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.dispatch-status-report-summary-view-desktop .nav-footer-ipad .page1 .fill3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 94px;
  height              : 84px;
  width               : 96px;
  position            : absolute;
  margin              : 0;
  left                : 32px;
}
.dispatch-status-report-summary-view-desktop .nav-footer-ipad .page1 .fill5 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 156px;
  height              : 13px;
  width               : 23px;
  position            : absolute;
  margin              : 0;
  left                : 41px;
}
.dispatch-status-report-summary-view-desktop .nav-footer-ipad .copyright2018-acc {
  background-color    : rgba(255, 255, 255, 0.0);
  width               : auto;
  height              : auto;
  pointer-events      : auto;
  position            : relative;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(51, 51, 102, 0.67);
  text-align          : center;
  line-height         : 15.0px;
}
.dispatch-status-report-summary-view-desktop .nav-footer-ipad .copyright2018-acc-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 85px;
  align-items         : center;
  height              : auto;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}