
@font-face {
  font-family: "IBMPlexSans";
  src: url('../fonts/IBMPlexSans-Regular.otf') format("opentype");
}
@font-face {
  font-family: "IBMPlexSans-SemiBold";
  src: url('../fonts/IBMPlexSans-SemiBold.otf') format("opentype");
}
@font-face {
  font-family: "IBMPlexSans-Medium";
  src: url('../fonts/IBMPlexSans-Medium.otf') format("opentype");
}
@font-face {
  font-family: "IBMPlexSans-Light";
  src: url('../fonts/IBMPlexSans-Light.otf') format("opentype");
}
@font-face {
  font-family: "IBMPlexSans-Bold";
  src: url('../fonts/IBMPlexSans-Bold.otf') format("opentype");
}

.loading-dispatch-desktop {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 888px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.loading-dispatch-desktop .nav-top-header-desktop {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 232px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.loading-dispatch-desktop .nav-top-header-desktop .rectangle {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 232px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.loading-dispatch-desktop .nav-top-header-desktop .nav-header-v2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 30px;
  height              : 16px;
  width               : 733px;
  position            : absolute;
  margin              : 0;
  left                : 640px;
}
.loading-dispatch-desktop .nav-top-header-desktop .nav-header-v2 .icon-menu {
  background-color    : rgba(255, 255, 255, 0.0);
  width               : 100%;
  height              : 13px;
  pointer-events      : auto;
  position            : relative;
}
.loading-dispatch-desktop .nav-top-header-desktop .nav-header-v2 .icon-menu-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0;
  height              : 100%;
  width               : 19px;
  justify-content     : center;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 714px;
}
.loading-dispatch-desktop .nav-top-header-desktop .nav-header-v2 .icon-menu .shape {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 13px;
  width               : 19px;
  position            : relative;
  margin              : 0;
  left                : 0px;
}
.loading-dispatch-desktop .nav-top-header-desktop .nav-header-v2 .postal-app-logo {
  background-color    : rgba(255, 255, 255, 0.0);
  width               : 146px;
  height              : 100%;
  pointer-events      : auto;
  position            : relative;
}
.loading-dispatch-desktop .nav-top-header-desktop .nav-header-v2 .postal-app-logo-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0px;
  align-items         : center;
  height              : 16px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.loading-dispatch-desktop .nav-top-header-desktop .nav-header-v2 .postal-app-logo .settlement-simulator {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  font-family         : "IBMPlexSans-SemiBold", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 15.0px;
}
.loading-dispatch-desktop .nav-top-header-desktop .molecules1-column-top-header {
  background-color    : rgba(255, 255, 255, 0.0);
  width               : 1179px;
  height              : 100%;
  pointer-events      : auto;
  position            : relative;
}
.loading-dispatch-desktop .nav-top-header-desktop .molecules1-column-top-header-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 90px;
  align-items         : center;
  height              : 63px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.loading-dispatch-desktop .nav-top-header-desktop .molecules1-column-top-header .rectangle2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 63px;
  width               : 1179px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.loading-dispatch-desktop .nav-top-header-desktop .molecules1-column-top-header .a546-g {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 17px;
  height              : auto;
  width               : 526px;
  position            : absolute;
  margin              : 0;
  left                : 327px;
  font-family         : "IBMPlexSans-Medium", Helvetica, Arial, serif;
  font-size           : 28.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : -0.47px;
  line-height         : 37.0px;
}
.loading-dispatch-desktop .nav-top-header-desktop .molecules1-column-top-header .dispatch-id {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : -2px;
  height              : auto;
  width               : 234px;
  position            : absolute;
  margin              : 0;
  left                : 473px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(18, 189, 235, 1.0);
  text-align          : center;
  line-height         : 20.0px;
}
.loading-dispatch-desktop .nav-footer-ipad {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 709px;
  height              : 179px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.loading-dispatch-desktop .nav-footer-ipad .rectangle11 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 2px;
  height              : 177px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.loading-dispatch-desktop .nav-footer-ipad .page1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 178px;
  width               : 158px;
  position            : absolute;
  margin              : 0;
  left                : 342px;
}
.loading-dispatch-desktop .nav-footer-ipad .page1 .fill1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 96px;
  width               : 158px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.loading-dispatch-desktop .nav-footer-ipad .page1 .fill3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 94px;
  height              : 84px;
  width               : 96px;
  position            : absolute;
  margin              : 0;
  left                : 32px;
}
.loading-dispatch-desktop .nav-footer-ipad .page1 .fill5 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 156px;
  height              : 13px;
  width               : 23px;
  position            : absolute;
  margin              : 0;
  left                : 41px;
}
.loading-dispatch-desktop .nav-footer-ipad .copyright2018-acc {
  background-color    : rgba(255, 255, 255, 0.0);
  width               : auto;
  height              : auto;
  pointer-events      : auto;
  position            : relative;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(51, 51, 102, 0.67);
  text-align          : center;
  line-height         : 15.0px;
}
.loading-dispatch-desktop .nav-footer-ipad .copyright2018-acc-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 85px;
  align-items         : center;
  height              : auto;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.loading-dispatch-desktop .stacked-group {
  display             : flex;
  justify-content     : flex-start;
  flex-direction      : row;
  align-items         : center;
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 200px;
  height              : 275px;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 140px;
}
.loading-dispatch-desktop .stacked-group .molecules-photo-option {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : 275px;
  margin              : 0;
  width               : 561px;
}
.loading-dispatch-desktop .stacked-group .molecules-photo-option .i-stock642787244 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 275px;
  width               : 561px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 5px;
  overflow            : hidden;
}
.loading-dispatch-desktop .stacked-group .molecules-photo-option .i-stock642787244 .mask {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 275px;
  width               : 561px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 5px;
}
.loading-dispatch-desktop .stacked-group .molecules-photo-option .i-stock642787244 .i-stock6427872441 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 359px;
  width               : 569px;
  position            : absolute;
  margin              : 0;
  left                : -3px;
}
.loading-dispatch-desktop .stacked-group .molecules-photo-option .i-stock642787244 .rectangle21 {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 0px;
  height              : 284px;
  width               : 569px;
  position            : absolute;
  margin              : 0;
  left                : -3px;
  opacity             : 0.51;
}
.loading-dispatch-desktop .stacked-group .molecules-photo-option .simulate-dispatch {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 128px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 201px;
  font-family         : "IBMPlexSans-Medium", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : -0.27px;
  line-height         : 20.0px;
}
.loading-dispatch-desktop .stacked-group .molecules-photo-option .ui-chevron-blue {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 133px;
  height              : 12px;
  width               : 7px;
  position            : absolute;
  margin              : 0;
  left                : 422px;
}
.loading-dispatch-desktop .stacked-group .molecules-photo-option .ui-chevron-blue .path4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 15px;
  width               : 10px;
  position            : relative;
  margin              : 0;
  left                : 0px;
}
.loading-dispatch-desktop .stacked-group .molecules-photo-option-copy {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : 275px;
  margin              : 0 0 0 40px;
  width               : 561px;
}
.loading-dispatch-desktop .stacked-group .molecules-photo-option-copy .i-stock6427872442 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 275px;
  width               : 561px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 5px;
  overflow            : hidden;
}
.loading-dispatch-desktop .stacked-group .molecules-photo-option-copy .i-stock6427872442 .mask1 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 275px;
  width               : 561px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 5px;
}
.loading-dispatch-desktop .stacked-group .molecules-photo-option-copy .i-stock6427872442 .i-stock6427872443 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 359px;
  width               : 569px;
  position            : absolute;
  margin              : 0;
  left                : -3px;
}
.loading-dispatch-desktop .stacked-group .molecules-photo-option-copy .i-stock6427872442 .rectangle22 {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 0px;
  height              : 284px;
  width               : 569px;
  position            : absolute;
  margin              : 0;
  left                : -3px;
  opacity             : 0.51;
}
.loading-dispatch-desktop .stacked-group .molecules-photo-option-copy .simulate-dispatch1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 128px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 218px;
  font-family         : "IBMPlexSans-Medium", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : -0.27px;
  line-height         : 20.0px;
}
.loading-dispatch-desktop .stacked-group .molecules-photo-option-copy .ui-chevron-blue1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 133px;
  height              : 12px;
  width               : 7px;
  position            : absolute;
  margin              : 0;
  left                : 422px;
}
.loading-dispatch-desktop .stacked-group .molecules-photo-option-copy .ui-chevron-blue1 .path41 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 15px;
  width               : 10px;
  position            : relative;
  margin              : 0;
  left                : 0px;
}
.loading-dispatch-desktop .rectangle12 {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 0px;
  height              : 889px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  opacity             : 0.34;
}
.loading-dispatch-desktop .loading {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 223px;
  height              : 442px;
  width               : 440px;
  position            : absolute;
  margin              : 0;
  left                : 500px;
}
.loading-dispatch-desktop .loading .rectangle13 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 442px;
  width               : 440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 5px;
}
.loading-dispatch-desktop .loading .simulating-package-e {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 308px;
  height              : auto;
  width               : 304px;
  position            : absolute;
  margin              : 0;
  left                : 70px;
  font-family         : "IBMPlexSans-Medium", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(51, 51, 102, 1.0);
  text-align          : center;
  letter-spacing      : -0.45px;
  line-height         : 32.0px;
}
.loading-dispatch-desktop .loading .group {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 67px;
  height              : 206px;
  width               : 251px;
  position            : absolute;
  margin              : 0;
  left                : 95px;
}
.loading-dispatch-desktop .loading .group .group4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 181px;
  width               : 251px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.loading-dispatch-desktop .loading .group .group4 .group2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 46px;
  width               : 198px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.loading-dispatch-desktop .loading .group .group4 .group2 .oval2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 46px;
  width               : 46px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.loading-dispatch-desktop .loading .group .group4 .group2 .oval2-copy {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 46px;
  width               : 46px;
  position            : absolute;
  margin              : 0;
  left                : 152px;
}
.loading-dispatch-desktop .loading .group .group4 .group2 .rectangle5 {
  background-color    : rgba(245, 245, 245, 1.0);
  top                 : 0px;
  height              : 46px;
  width               : 155px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
}
.loading-dispatch-desktop .loading .group .group4 .group2-copy2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 134px;
  height              : 47px;
  width               : 164px;
  position            : absolute;
  margin              : 0;
  left                : 18px;
}
.loading-dispatch-desktop .loading .group .group4 .group2-copy2 .oval21 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 47px;
  width               : 47px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.loading-dispatch-desktop .loading .group .group4 .group2-copy2 .oval2-copy1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 47px;
  width               : 47px;
  position            : absolute;
  margin              : 0;
  left                : 117px;
}
.loading-dispatch-desktop .loading .group .group4 .group2-copy2 .rectangle51 {
  background-color    : rgba(245, 245, 245, 1.0);
  top                 : 0px;
  height              : 47px;
  width               : 119px;
  position            : absolute;
  margin              : 0;
  left                : 23px;
}
.loading-dispatch-desktop .loading .group .group4 .group2-copy {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 63px;
  height              : 46px;
  width               : 199px;
  position            : absolute;
  margin              : 0;
  left                : 52px;
}
.loading-dispatch-desktop .loading .group .group4 .group2-copy .oval22 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 46px;
  width               : 47px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.loading-dispatch-desktop .loading .group .group4 .group2-copy .oval2-copy2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 46px;
  width               : 47px;
  position            : absolute;
  margin              : 0;
  left                : 152px;
}
.loading-dispatch-desktop .loading .group .group4 .group2-copy .rectangle52 {
  background-color    : rgba(245, 245, 245, 1.0);
  top                 : 0px;
  height              : 46px;
  width               : 156px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
}
.loading-dispatch-desktop .loading .group .group4 .rectangle6 {
  background-color    : rgba(245, 245, 245, 1.0);
  top                 : 39px;
  height              : 29px;
  width               : 92px;
  position            : absolute;
  margin              : 0;
  left                : 79px;
}
.loading-dispatch-desktop .loading .group .group4 .path2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 45px;
  height              : 18px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 73px;
}
.loading-dispatch-desktop .loading .group .group4 .path2-copy {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 45px;
  height              : 18px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 159px;
}
.loading-dispatch-desktop .loading .group .page11 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 29px;
  height              : 159px;
  width               : 138px;
  position            : absolute;
  margin              : 0;
  left                : 56px;
}
.loading-dispatch-desktop .loading .group .page11 .group3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 86px;
  width               : 138px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.loading-dispatch-desktop .loading .group .page11 .fill4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 86px;
  height              : 73px;
  width               : 89px;
  position            : absolute;
  margin              : 0;
  left                : 25px;
}
.loading-dispatch-desktop .loading .group .page11 .fill6 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 137px;
  height              : 8px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 39px;
}
.loading-dispatch-desktop .loading .group .group5-copy {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 118px;
  height              : 28px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 185px;
}
.loading-dispatch-desktop .loading .group .group5-copy .oval3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 16px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.loading-dispatch-desktop .loading .group .group5-copy .oval3-copy2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 11px;
  height              : 16px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(-90deg); /* IE 9 */
  -webkit-transform   : rotate(-90deg); /* Chrome, Safari, Opera */
  transform           : rotate(-90deg);
}
.loading-dispatch-desktop .loading .group .group5-copy .oval3-copy {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 16px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 11px;
  -ms-transform       : rotate(-270deg); /* IE 9 */
  -webkit-transform   : rotate(-270deg); /* Chrome, Safari, Opera */
  transform           : rotate(-270deg);
}
.loading-dispatch-desktop .loading .group .group5-copy .oval3-copy3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 11px;
  height              : 16px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 11px;
  -ms-transform       : rotate(-180deg); /* IE 9 */
  -webkit-transform   : rotate(-180deg); /* Chrome, Safari, Opera */
  transform           : rotate(-180deg);
}
.loading-dispatch-desktop .loading .group .group5-copy3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 178px;
  height              : 28px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 43px;
}
.loading-dispatch-desktop .loading .group .group5-copy3 .oval31 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 16px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.loading-dispatch-desktop .loading .group .group5-copy3 .oval3-copy21 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 11px;
  height              : 16px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(-90deg); /* IE 9 */
  -webkit-transform   : rotate(-90deg); /* Chrome, Safari, Opera */
  transform           : rotate(-90deg);
}
.loading-dispatch-desktop .loading .group .group5-copy3 .oval3-copy1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 16px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 11px;
  -ms-transform       : rotate(-270deg); /* IE 9 */
  -webkit-transform   : rotate(-270deg); /* Chrome, Safari, Opera */
  transform           : rotate(-270deg);
}
.loading-dispatch-desktop .loading .group .group5-copy3 .oval3-copy31 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 11px;
  height              : 16px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 11px;
  -ms-transform       : rotate(-180deg); /* IE 9 */
  -webkit-transform   : rotate(-180deg); /* Chrome, Safari, Opera */
  transform           : rotate(-180deg);
}
.loading-dispatch-desktop .loading .group .group5-copy2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 26px;
  height              : 28px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 31px;
}
.loading-dispatch-desktop .loading .group .group5-copy2 .oval32 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 16px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.loading-dispatch-desktop .loading .group .group5-copy2 .oval3-copy22 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 11px;
  height              : 16px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(-90deg); /* IE 9 */
  -webkit-transform   : rotate(-90deg); /* Chrome, Safari, Opera */
  transform           : rotate(-90deg);
}
.loading-dispatch-desktop .loading .group .group5-copy2 .oval3-copy4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 16px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 11px;
  -ms-transform       : rotate(-270deg); /* IE 9 */
  -webkit-transform   : rotate(-270deg); /* Chrome, Safari, Opera */
  transform           : rotate(-270deg);
}
.loading-dispatch-desktop .loading .group .group5-copy2 .oval3-copy32 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 11px;
  height              : 16px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 11px;
  -ms-transform       : rotate(-180deg); /* IE 9 */
  -webkit-transform   : rotate(-180deg); /* Chrome, Safari, Opera */
  transform           : rotate(-180deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}