
@font-face {
  font-family: "IBMPlexSans";
  src: url('../fonts/IBMPlexSans-Regular.otf') format("opentype");
}
@font-face {
  font-family: "IBMPlexSans-SemiBold";
  src: url('../fonts/IBMPlexSans-SemiBold.otf') format("opentype");
}
@font-face {
  font-family: "IBMPlexSans-Medium";
  src: url('../fonts/IBMPlexSans-Medium.otf') format("opentype");
}
@font-face {
  font-family: "IBMPlexSans-Light";
  src: url('../fonts/IBMPlexSans-Light.otf') format("opentype");
}
@font-face {
  font-family: "IBMPlexSans-Bold";
  src: url('../fonts/IBMPlexSans-Bold.otf') format("opentype");
}

.login-desktop {
  width               : 100%;

  height              : 100vh;

  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.login-desktop .rectangle {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 900px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.login-desktop .page1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : -53px;
  height              : 508px;
  width               : 470px;
  position            : absolute;
  margin              : 0;
  left                : 1011px;
  opacity             : 0.15;
}
.login-desktop .page1 .fill1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 268px;
  width               : 470px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.login-desktop .page1 .fill3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 268px;
  height              : 240px;
  width               : 281px;
  position            : absolute;
  margin              : 0;
  left                : 93px;
}
.login-desktop .page1 .fill5 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 448px;
  height              : 30px;
  width               : 63px;
  position            : absolute;
  margin              : 0;
  left                : 124px;
}
.login-desktop .group2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 178px;
  height              : 315px;
  width               : 470px;
  position            : absolute;
  margin              : 0;
  left                : 485px;
}
.login-desktop .group2 .settlement-demo {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 84px;
  height              : auto;
  width               : 470px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "IBMPlexSans-Bold", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 25.0px;
}
.login-desktop .group2 .group {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 2px;
  height              : 64px;
  width               : 63px;
  position            : absolute;
  margin              : 0;
  left                : 204px;
}
.login-desktop .group2 .group .rectangle7 {
  background-color    : rgba(86, 38, 217, 1.0);
  top                 : 0px;
  height              : 64px;
  width               : 63px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 6px;
}
.login-desktop .group2 .group .page11 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 15px;
  height              : 34px;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
}
.login-desktop .group2 .group .page11 .fill11 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 18px;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.login-desktop .group2 .group .page11 .fill31 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 18px;
  height              : 16px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 6px;
}
.login-desktop .group2 .group .page11 .fill51 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 30px;
  height              : 2px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
}
.login-desktop .group2 .ui-input {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 149px;
  height              : 40px;
  width               : 356px;
  position            : absolute;
  margin              : 0;
  left                : 57px;
}
.login-desktop .group2 .ui-input .rectangle2 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 40px;
  width               : 356px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
}
.login-desktop .group2 .ui-input .text-username {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 5px;
  height              : 30px;
  width               : 67px;
  position            : absolute;
  margin              : 0;
  left                : 28px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(143, 143, 143, 1.0);
  text-align          : left;
  line-height         : 18.0px;
  border              : 0;
}
.login-desktop .group2 .ui-input .text-username::placeholder {
  color               : rgba(143, 143, 143, 0.6);
}
.login-desktop .group2 .ui-input1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 206px;
  height              : 40px;
  width               : 356px;
  position            : absolute;
  margin              : 0;
  left                : 57px;
}
.login-desktop .group2 .ui-input1 .rectangle21 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 40px;
  width               : 356px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
}
.login-desktop .group2 .ui-input1 .text-password {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 5px;
  height              : 30px;
  width               : 63px;
  position            : absolute;
  margin              : 0;
  left                : 28px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(143, 143, 143, 1.0);
  text-align          : left;
  line-height         : 18.0px;
  border              : 0;
}
.login-desktop .group2 .ui-input1 .text-password::placeholder {
  color               : rgba(143, 143, 143, 0.6);
}
.login-desktop .group2 .button-primary-blue {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 285px;
  height              : 32px;
  width               : 181px;
  position            : absolute;
  margin              : 0;
  left                : 145px;
}
.login-desktop .group2 .button-primary-blue .rectangle2-copy2 {
  background-color    : rgba(18, 189, 235, 1.0);
  top                 : 0px;
  height              : 32px;
  width               : 181px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
}
.login-desktop .group2 .button-primary-blue .l-ogin {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 8px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 71px;
  font-family         : "IBMPlexSans-Medium", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 15.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}