
@font-face {
  font-family: "IBMPlexSans";
  src: url('../fonts/IBMPlexSans-Regular.otf') format("opentype");
}
@font-face {
  font-family: "IBMPlexSans-SemiBold";
  src: url('../fonts/IBMPlexSans-SemiBold.otf') format("opentype");
}
@font-face {
  font-family: "IBMPlexSans-Medium";
  src: url('../fonts/IBMPlexSans-Medium.otf') format("opentype");
}
@font-face {
  font-family: "IBMPlexSans-Light";
  src: url('../fonts/IBMPlexSans-Light.otf') format("opentype");
}
@font-face {
  font-family: "IBMPlexSans-Bold";
  src: url('../fonts/IBMPlexSans-Bold.otf') format("opentype");
}

.simulate-dispatch-pop-up-desktop {
  width               : 100%;
 
  height              : 100vh;
 
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.simulate-dispatch-pop-up-desktop .nav-top-header-desktop {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 232px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.simulate-dispatch-pop-up-desktop .nav-top-header-desktop .rectangle {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 232px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.simulate-dispatch-pop-up-desktop .nav-top-header-desktop .nav-header-v2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 30px;
  height              : 16px;
  width               : 733px;
  position            : absolute;
  margin              : 0;
  left                : 640px;
}
.simulate-dispatch-pop-up-desktop .nav-top-header-desktop .nav-header-v2 .icon-menu {
  background-color    : rgba(255, 255, 255, 0.0);
  width               : 100%;
  height              : 13px;
  pointer-events      : auto;
  position            : relative;
}
.simulate-dispatch-pop-up-desktop .nav-top-header-desktop .nav-header-v2 .icon-menu-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0;
  height              : 100%;
  width               : 19px;
  justify-content     : center;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 714px;
}
.simulate-dispatch-pop-up-desktop .nav-top-header-desktop .nav-header-v2 .icon-menu .shape {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 13px;
  width               : 19px;
  position            : relative;
  margin              : 0;
  left                : 0px;
}
.simulate-dispatch-pop-up-desktop .nav-top-header-desktop .nav-header-v2 .postal-app-logo {
  background-color    : rgba(255, 255, 255, 0.0);
  width               : 146px;
  height              : 100%;
  pointer-events      : auto;
  position            : relative;
}
.simulate-dispatch-pop-up-desktop .nav-top-header-desktop .nav-header-v2 .postal-app-logo-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0px;
  align-items         : center;
  height              : 16px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.simulate-dispatch-pop-up-desktop .nav-top-header-desktop .nav-header-v2 .postal-app-logo .settlement-simulator {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  font-family         : "IBMPlexSans-SemiBold", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 15.0px;
}
.simulate-dispatch-pop-up-desktop .nav-top-header-desktop .molecules1-column-top-header {
  background-color    : rgba(255, 255, 255, 0.0);
  width               : 1179px;
  height              : 100%;
  pointer-events      : auto;
  position            : relative;
}
.simulate-dispatch-pop-up-desktop .nav-top-header-desktop .molecules1-column-top-header-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 90px;
  align-items         : center;
  height              : 63px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.simulate-dispatch-pop-up-desktop .nav-top-header-desktop .molecules1-column-top-header .rectangle2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 63px;
  width               : 1179px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.simulate-dispatch-pop-up-desktop .nav-top-header-desktop .molecules1-column-top-header .a546-g {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 17px;
  height              : auto;
  width               : 526px;
  position            : absolute;
  margin              : 0;
  left                : 327px;
  font-family         : "IBMPlexSans-Medium", Helvetica, Arial, serif;
  font-size           : 28.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : -0.47px;
  line-height         : 37.0px;
}
.simulate-dispatch-pop-up-desktop .nav-top-header-desktop .molecules1-column-top-header .dispatch-id {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : -2px;
  height              : auto;
  width               : 234px;
  position            : absolute;
  margin              : 0;
  left                : 473px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(18, 189, 235, 1.0);
  text-align          : center;
  line-height         : 20.0px;
}
.simulate-dispatch-pop-up-desktop .nav-footer-ipad {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 709px;
  height              : 179px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.simulate-dispatch-pop-up-desktop .nav-footer-ipad .rectangle11 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 2px;
  height              : 177px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.simulate-dispatch-pop-up-desktop .nav-footer-ipad .page1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 178px;
  width               : 158px;
  position            : absolute;
  margin              : 0;
  left                : 342px;
}
.simulate-dispatch-pop-up-desktop .nav-footer-ipad .page1 .fill1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 96px;
  width               : 158px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.simulate-dispatch-pop-up-desktop .nav-footer-ipad .page1 .fill3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 94px;
  height              : 84px;
  width               : 96px;
  position            : absolute;
  margin              : 0;
  left                : 32px;
}
.simulate-dispatch-pop-up-desktop .nav-footer-ipad .page1 .fill5 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 156px;
  height              : 13px;
  width               : 23px;
  position            : absolute;
  margin              : 0;
  left                : 41px;
}
.simulate-dispatch-pop-up-desktop .nav-footer-ipad .copyright2018-acc {
  background-color    : rgba(255, 255, 255, 0.0);
  width               : auto;
  height              : auto;
  pointer-events      : auto;
  position            : relative;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(51, 51, 102, 0.67);
  text-align          : center;
  line-height         : 15.0px;
}
.simulate-dispatch-pop-up-desktop .nav-footer-ipad .copyright2018-acc-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 85px;
  align-items         : center;
  height              : auto;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.simulate-dispatch-pop-up-desktop .stacked-group {
  display             : flex;
  justify-content     : flex-start;
  flex-direction      : row;
  align-items         : center;
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 283px;
  height              : 275px;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 53px;
}
.simulate-dispatch-pop-up-desktop .stacked-group .molecules-photo-option {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : 275px;
  margin              : 0;
  width               : 561px;
}
.simulate-dispatch-pop-up-desktop .stacked-group .molecules-photo-option .i-stock642787244 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 275px;
  width               : 561px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 5px;
  overflow            : hidden;
}
.simulate-dispatch-pop-up-desktop .stacked-group .molecules-photo-option .i-stock642787244 .mask {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 275px;
  width               : 561px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 5px;
}
.simulate-dispatch-pop-up-desktop .stacked-group .molecules-photo-option .i-stock642787244 .i-stock6427872441 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 359px;
  width               : 569px;
  position            : absolute;
  margin              : 0;
  left                : -3px;
}
.simulate-dispatch-pop-up-desktop .stacked-group .molecules-photo-option .i-stock642787244 .rectangle21 {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 0px;
  height              : 284px;
  width               : 569px;
  position            : absolute;
  margin              : 0;
  left                : -3px;
  opacity             : 0.51;
}
.simulate-dispatch-pop-up-desktop .stacked-group .molecules-photo-option .simulate-dispatch {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 128px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 201px;
  font-family         : "IBMPlexSans-Medium", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : -0.27px;
  line-height         : 20.0px;
}
.simulate-dispatch-pop-up-desktop .stacked-group .molecules-photo-option .ui-chevron-blue {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 133px;
  height              : 12px;
  width               : 7px;
  position            : absolute;
  margin              : 0;
  left                : 422px;
}
.simulate-dispatch-pop-up-desktop .stacked-group .molecules-photo-option .ui-chevron-blue .path4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 15px;
  width               : 10px;
  position            : relative;
  margin              : 0;
  left                : 0px;
}
.simulate-dispatch-pop-up-desktop .stacked-group .molecules-photo-option-copy {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : 275px;
  margin              : 0 0 0 40px;
  width               : 561px;
}
.simulate-dispatch-pop-up-desktop .stacked-group .molecules-photo-option-copy .i-stock6427872442 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 275px;
  width               : 561px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 5px;
  overflow            : hidden;
}
.simulate-dispatch-pop-up-desktop .stacked-group .molecules-photo-option-copy .i-stock6427872442 .mask1 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 275px;
  width               : 561px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 5px;
}
.simulate-dispatch-pop-up-desktop .stacked-group .molecules-photo-option-copy .i-stock6427872442 .i-stock6427872443 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 359px;
  width               : 569px;
  position            : absolute;
  margin              : 0;
  left                : -3px;
}
.simulate-dispatch-pop-up-desktop .stacked-group .molecules-photo-option-copy .i-stock6427872442 .rectangle22 {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 0px;
  height              : 284px;
  width               : 569px;
  position            : absolute;
  margin              : 0;
  left                : -3px;
  opacity             : 0.51;
}
.simulate-dispatch-pop-up-desktop .stacked-group .molecules-photo-option-copy .simulate-dispatch1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 128px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 218px;
  font-family         : "IBMPlexSans-Medium", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : -0.27px;
  line-height         : 20.0px;
}
.simulate-dispatch-pop-up-desktop .stacked-group .molecules-photo-option-copy .ui-chevron-blue1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 133px;
  height              : 12px;
  width               : 7px;
  position            : absolute;
  margin              : 0;
  left                : 422px;
}
.simulate-dispatch-pop-up-desktop .stacked-group .molecules-photo-option-copy .ui-chevron-blue1 .path41 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 15px;
  width               : 10px;
  position            : relative;
  margin              : 0;
  left                : 0px;
}
.simulate-dispatch-pop-up-desktop .rectangle12 {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 0px;
  height              : 889px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  opacity             : 0.34;
}
.simulate-dispatch-pop-up-desktop .ui-pop-up {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 227px;
  height              : 361px;
  width               : 439px;
  position            : absolute;
  margin              : 0;
  left                : 501px;
}
.simulate-dispatch-pop-up-desktop .ui-pop-up .rectangle13 {
  background-color    : rgba(255, 255, 255, 1.0);
  position            : relative;
  pointer-events      : auto;
  height              : 361px;
  width               : 439px;
  border-radius       : 5px;
}
.simulate-dispatch-pop-up-desktop .ui-pop-up .rectangle13-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0;
  align-items         : center;
  height              : 100%;
  width               : 100%;
  justify-content     : center;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.simulate-dispatch-pop-up-desktop .ui-pop-up .atom-close-blue-big {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 22px;
  height              : 17px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 397px;
}
.simulate-dispatch-pop-up-desktop .ui-pop-up .atom-close-blue-big .combined-shape {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 17px;
  width               : 17px;
  position            : relative;
  margin              : 0;
  left                : 0px;
}
.simulate-dispatch-pop-up-desktop .ui-pop-up .what-is-the-size-of {
  background-color    : rgba(255, 255, 255, 0.0);
  width               : 217px;
  margin-right        : -0px;
  height              : auto;
  pointer-events      : auto;
  margin-left         : 0px;
  position            : relative;
  font-family         : "IBMPlexSans-Medium", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(51, 51, 102, 1.0);
  text-align          : center;
  letter-spacing      : -0.45px;
  line-height         : 32.0px;
}
.simulate-dispatch-pop-up-desktop .ui-pop-up .what-is-the-size-of-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 45px;
  align-items         : center;
  height              : auto;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.simulate-dispatch-pop-up-desktop .ui-pop-up .group {
  background-color    : rgba(255, 255, 255, 0.0);
  width               : 75px;
  height              : 100%;
  pointer-events      : auto;
  position            : relative;
}
.simulate-dispatch-pop-up-desktop .ui-pop-up .group-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 157px;
  align-items         : center;
  height              : 24px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.simulate-dispatch-pop-up-desktop .ui-pop-up .group .small {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : 57px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(51, 51, 102, 1.0);
  text-align          : center;
  letter-spacing      : -0.39px;
  line-height         : 23.0px;
}
.simulate-dispatch-pop-up-desktop .ui-pop-up .group .ui-chevron-blue2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 10px;
  height              : 9px;
  width               : 7px;
  position            : absolute;
  margin              : 0;
  left                : 69px;
}
.simulate-dispatch-pop-up-desktop .ui-pop-up .group .ui-chevron-blue2 .path42 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 9px;
  width               : 7px;
  position            : relative;
  margin              : 0;
  left                : 0px;
}
.simulate-dispatch-pop-up-desktop .ui-pop-up .group2 {
  background-color    : rgba(255, 255, 255, 0.0);
  width               : 94px;
  margin-right        : 4px;
  height              : 100%;
  pointer-events      : auto;
  margin-left         : -4px;
  position            : relative;
}
.simulate-dispatch-pop-up-desktop .ui-pop-up .group2-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 236px;
  align-items         : center;
  height              : 24px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.simulate-dispatch-pop-up-desktop .ui-pop-up .group2 .medium {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : 84px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(51, 51, 102, 1.0);
  text-align          : center;
  letter-spacing      : -0.39px;
  line-height         : 23.0px;
}
.simulate-dispatch-pop-up-desktop .ui-pop-up .group2 .ui-chevron-blue3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 10px;
  height              : 9px;
  width               : 7px;
  position            : absolute;
  margin              : 0;
  left                : 88px;
}
.simulate-dispatch-pop-up-desktop .ui-pop-up .group2 .ui-chevron-blue3 .path43 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 9px;
  width               : 7px;
  position            : relative;
  margin              : 0;
  left                : 0px;
}
.simulate-dispatch-pop-up-desktop .ui-pop-up .group3 {
  background-color    : rgba(255, 255, 255, 0.0);
  width               : 71px;
  margin-right        : 2px;
  height              : 100%;
  pointer-events      : auto;
  margin-left         : -2px;
  position            : relative;
}
.simulate-dispatch-pop-up-desktop .ui-pop-up .group3-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 309px;
  align-items         : center;
  height              : 24px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.simulate-dispatch-pop-up-desktop .ui-pop-up .group3 .large {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : 55px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(51, 51, 102, 1.0);
  text-align          : center;
  letter-spacing      : -0.39px;
  line-height         : 23.0px;
}
.simulate-dispatch-pop-up-desktop .ui-pop-up .group3 .ui-chevron-blue4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 10px;
  height              : 9px;
  width               : 7px;
  position            : absolute;
  margin              : 0;
  left                : 65px;
}
.simulate-dispatch-pop-up-desktop .ui-pop-up .group3 .ui-chevron-blue4 .path44 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 9px;
  width               : 7px;
  position            : relative;
  margin              : 0;
  left                : 0px;
}
.simulate-dispatch-pop-up-desktop .ui-pop-up .line {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 206px;
  height              : 1px;
  width               : 439px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.simulate-dispatch-pop-up-desktop .ui-pop-up .line-copy {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 282px;
  height              : 1px;
  width               : 439px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}