
@font-face {
  font-family: "IBMPlexSans";
  src: url('../fonts/IBMPlexSans-Regular.otf') format("opentype");
}
@font-face {
  font-family: "IBMPlexSans-SemiBold";
  src: url('../fonts/IBMPlexSans-SemiBold.otf') format("opentype");
}
@font-face {
  font-family: "IBMPlexSans-Medium";
  src: url('../fonts/IBMPlexSans-Medium.otf') format("opentype");
}
@font-face {
  font-family: "IBMPlexSans-Light";
  src: url('../fonts/IBMPlexSans-Light.otf') format("opentype");
}
@font-face {
  font-family: "IBMPlexSans-Bold";
  src: url('../fonts/IBMPlexSans-Bold.otf') format("opentype");
}

.view-reports-desktop {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 1191px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.view-reports-desktop .nav-top-header {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 280px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.view-reports-desktop .nav-top-header .rectangle {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 280px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.view-reports-desktop .nav-top-header .nav-header-v2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 38px;
  height              : 16px;
  width               : 1319px;
  position            : absolute;
  margin              : 0;
  left                : 54px;
}
.view-reports-desktop .nav-top-header .nav-header-v2 .icon-menu {
  background-color    : rgba(255, 255, 255, 0.0);
  width               : 100%;
  height              : 13px;
  pointer-events      : auto;
  position            : relative;
}
.view-reports-desktop .nav-top-header .nav-header-v2 .icon-menu-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0;
  height              : 100%;
  width               : 19px;
  justify-content     : center;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 1300px;
}
.view-reports-desktop .nav-top-header .nav-header-v2 .icon-menu .shape {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 13px;
  width               : 19px;
  position            : relative;
  margin              : 0;
  left                : 0px;
}
.view-reports-desktop .nav-top-header .nav-header-v2 .postal-app-logo {
  background-color    : rgba(255, 255, 255, 0.0);
  width               : 146px;
  height              : 100%;
  pointer-events      : auto;
  position            : relative;
}
.view-reports-desktop .nav-top-header .nav-header-v2 .postal-app-logo-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0px;
  align-items         : center;
  height              : 16px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.view-reports-desktop .nav-top-header .nav-header-v2 .postal-app-logo .settlement-simulator {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  font-family         : "IBMPlexSans-SemiBold", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 15.0px;
}
.view-reports-desktop .nav-top-header .nav-header-v2 .back {
  background-color    : rgba(255, 255, 255, 0.0);
  width               : 100%;
  height              : 16px;
  pointer-events      : auto;
  position            : relative;
}
.view-reports-desktop .nav-top-header .nav-header-v2 .back-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0;
  height              : 100%;
  width               : 37px;
  justify-content     : center;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0px;
}
.view-reports-desktop .nav-top-header .nav-header-v2 .back .back1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : -0.2px;
  line-height         : 15.0px;
}
.view-reports-desktop .nav-top-header .nav-header-v2 .back .path4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 4px;
  height              : 9px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.view-reports-desktop .nav-top-header .molecules1-column-top-header-copy {
  background-color    : rgba(255, 255, 255, 0.0);
  width               : 382px;
  margin-right        : -10px;
  height              : 100%;
  pointer-events      : auto;
  margin-left         : 10px;
  position            : relative;
}
.view-reports-desktop .nav-top-header .molecules1-column-top-header-copy-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 109px;
  align-items         : center;
  height              : 63px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.view-reports-desktop .nav-top-header .molecules1-column-top-header-copy .rectangle2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 63px;
  width               : 382px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.view-reports-desktop .nav-top-header .molecules1-column-top-header-copy .a546-g {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 27px;
  height              : auto;
  width               : 382px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "IBMPlexSans-Medium", Helvetica, Arial, serif;
  font-size           : 28.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : -0.47px;
  line-height         : 37.0px;
}
.view-reports-desktop .nav-top-header .molecules1-column-top-header-copy .dispatch-id {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 1px;
  height              : auto;
  width               : 382px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(18, 189, 235, 1.0);
  text-align          : center;
  line-height         : 20.0px;
}
.view-reports-desktop .receptacle-id {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 402px;
  height              : auto;
  width               : 137px;
  position            : absolute;
  margin              : 0;
  left                : 268px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 11.0px;
  color               : rgba(84, 35, 217, 1.0);
  text-align          : left;
  line-height         : 14.0px;
}
.view-reports-desktop .package-id {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 403px;
  height              : auto;
  width               : 110px;
  position            : absolute;
  margin              : 0;
  left                : 528px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 11.0px;
  color               : rgba(84, 35, 217, 1.0);
  text-align          : left;
  line-height         : 14.0px;
}
.view-reports-desktop .s-tatus {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 403px;
  height              : auto;
  width               : 69px;
  position            : absolute;
  margin              : 0;
  left                : 743px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 11.0px;
  color               : rgba(84, 35, 217, 1.0);
  text-align          : left;
  line-height         : 14.0px;
}
.view-reports-desktop .ui-table-list-grey-background {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 475px;
  height              : 41px;
  width               : 938px;
  position            : absolute;
  margin              : 0;
  left                : 251px;
}
.view-reports-desktop .ui-table-list-grey-background .rectangle14 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 41px;
  width               : 938px;
  position            : relative;
  margin              : 0;
  left                : 0px;
}
.view-reports-desktop .c-nbjsausjfkaaun81234 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 488px;
  height              : auto;
  width               : 182px;
  position            : absolute;
  margin              : 0;
  left                : 261px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(51, 51, 102, 1.0);
  text-align          : left;
  letter-spacing      : -0.2px;
  line-height         : 15.0px;
}
.view-reports-desktop .a10212018 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 489px;
  height              : auto;
  width               : 82px;
  position            : absolute;
  margin              : 0;
  left                : 528px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(51, 51, 102, 1.0);
  text-align          : left;
  letter-spacing      : -0.2px;
  line-height         : 15.0px;
}
.view-reports-desktop .delivery-success {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 489px;
  height              : auto;
  width               : 190px;
  position            : absolute;
  margin              : 0;
  left                : 743px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(51, 51, 102, 1.0);
  text-align          : left;
  letter-spacing      : -0.2px;
  line-height         : 15.0px;
}
.view-reports-desktop .line-copy {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 517px;
  height              : 2px;
  width               : 933px;
  position            : absolute;
  margin              : 0;
  left                : 250px;
}
.view-reports-desktop .ui-table-list-grey-background1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 648px;
  height              : 41px;
  width               : 938px;
  position            : absolute;
  margin              : 0;
  left                : 251px;
}
.view-reports-desktop .ui-table-list-grey-background1 .rectangle141 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 41px;
  width               : 938px;
  position            : relative;
  margin              : 0;
  left                : 0px;
}
.view-reports-desktop .c-nbjsausjfkaaun812341 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 661px;
  height              : auto;
  width               : 182px;
  position            : absolute;
  margin              : 0;
  left                : 261px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(51, 51, 102, 1.0);
  text-align          : left;
  letter-spacing      : -0.2px;
  line-height         : 15.0px;
}
.view-reports-desktop .a04252018 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 662px;
  height              : auto;
  width               : 82px;
  position            : absolute;
  margin              : 0;
  left                : 528px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(51, 51, 102, 1.0);
  text-align          : left;
  letter-spacing      : -0.2px;
  line-height         : 15.0px;
}
.view-reports-desktop .delivery-success1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 662px;
  height              : auto;
  width               : 190px;
  position            : absolute;
  margin              : 0;
  left                : 743px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(51, 51, 102, 1.0);
  text-align          : left;
  letter-spacing      : -0.2px;
  line-height         : 15.0px;
}
.view-reports-desktop .line-copy1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 691px;
  height              : 2px;
  width               : 933px;
  position            : absolute;
  margin              : 0;
  left                : 250px;
}
.view-reports-desktop .ui-table-list-grey-background2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 561px;
  height              : 41px;
  width               : 938px;
  position            : absolute;
  margin              : 0;
  left                : 251px;
}
.view-reports-desktop .ui-table-list-grey-background2 .rectangle142 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 41px;
  width               : 938px;
  position            : relative;
  margin              : 0;
  left                : 0px;
}
.view-reports-desktop .c-nbjsausjfkaaun812342 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 575px;
  height              : auto;
  width               : 182px;
  position            : absolute;
  margin              : 0;
  left                : 261px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(51, 51, 102, 1.0);
  text-align          : left;
  letter-spacing      : -0.2px;
  line-height         : 15.0px;
}
.view-reports-desktop .a05272018 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 575px;
  height              : auto;
  width               : 82px;
  position            : absolute;
  margin              : 0;
  left                : 528px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(51, 51, 102, 1.0);
  text-align          : left;
  letter-spacing      : -0.2px;
  line-height         : 15.0px;
}
.view-reports-desktop .delivery-success2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 575px;
  height              : auto;
  width               : 190px;
  position            : absolute;
  margin              : 0;
  left                : 743px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(51, 51, 102, 1.0);
  text-align          : left;
  letter-spacing      : -0.2px;
  line-height         : 15.0px;
}
.view-reports-desktop .line-copy2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 604px;
  height              : 2px;
  width               : 933px;
  position            : absolute;
  margin              : 0;
  left                : 250px;
}
.view-reports-desktop .ui-table-list-grey-background3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 735px;
  height              : 41px;
  width               : 938px;
  position            : absolute;
  margin              : 0;
  left                : 251px;
}
.view-reports-desktop .ui-table-list-grey-background3 .rectangle143 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 41px;
  width               : 938px;
  position            : relative;
  margin              : 0;
  left                : 0px;
}
.view-reports-desktop .c-nbjsausjfkaaun812343 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 748px;
  height              : auto;
  width               : 182px;
  position            : absolute;
  margin              : 0;
  left                : 261px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(51, 51, 102, 1.0);
  text-align          : left;
  letter-spacing      : -0.2px;
  line-height         : 15.0px;
}
.view-reports-desktop .a07212018 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 749px;
  height              : auto;
  width               : 82px;
  position            : absolute;
  margin              : 0;
  left                : 528px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(51, 51, 102, 1.0);
  text-align          : left;
  letter-spacing      : -0.2px;
  line-height         : 15.0px;
}
.view-reports-desktop .delivery-success3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 749px;
  height              : auto;
  width               : 190px;
  position            : absolute;
  margin              : 0;
  left                : 743px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(51, 51, 102, 1.0);
  text-align          : left;
  letter-spacing      : -0.2px;
  line-height         : 15.0px;
}
.view-reports-desktop .line-copy3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 777px;
  height              : 2px;
  width               : 933px;
  position            : absolute;
  margin              : 0;
  left                : 250px;
}
.view-reports-desktop .ui-table-list-grey-background4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 821px;
  height              : 41px;
  width               : 938px;
  position            : absolute;
  margin              : 0;
  left                : 251px;
}
.view-reports-desktop .ui-table-list-grey-background4 .rectangle144 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 41px;
  width               : 938px;
  position            : relative;
  margin              : 0;
  left                : 0px;
}
.view-reports-desktop .c-nbjsausjfkaaun812344 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 835px;
  height              : auto;
  width               : 182px;
  position            : absolute;
  margin              : 0;
  left                : 261px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(51, 51, 102, 1.0);
  text-align          : left;
  letter-spacing      : -0.2px;
  line-height         : 15.0px;
}
.view-reports-desktop .a06072018 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 835px;
  height              : auto;
  width               : 82px;
  position            : absolute;
  margin              : 0;
  left                : 528px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(51, 51, 102, 1.0);
  text-align          : left;
  letter-spacing      : -0.2px;
  line-height         : 15.0px;
}
.view-reports-desktop .delivery-success4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 835px;
  height              : auto;
  width               : 190px;
  position            : absolute;
  margin              : 0;
  left                : 743px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(51, 51, 102, 1.0);
  text-align          : left;
  letter-spacing      : -0.2px;
  line-height         : 15.0px;
}
.view-reports-desktop .line-copy4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 864px;
  height              : 2px;
  width               : 933px;
  position            : absolute;
  margin              : 0;
  left                : 250px;
}
.view-reports-desktop .ui-table-list-grey-background5 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 431px;
  height              : 41px;
  width               : 938px;
  position            : absolute;
  margin              : 0;
  left                : 251px;
}
.view-reports-desktop .ui-table-list-grey-background5 .rectangle145 {
  background-color    : rgba(240, 245, 250, 1.0);
  top                 : 0px;
  height              : 41px;
  width               : 938px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  opacity             : 0.5;
}
.view-reports-desktop .c-nbjsausjfkaaun812345 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 445px;
  height              : auto;
  width               : 182px;
  position            : absolute;
  margin              : 0;
  left                : 261px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(51, 51, 102, 1.0);
  text-align          : left;
  letter-spacing      : -0.2px;
  line-height         : 15.0px;
}
.view-reports-desktop .a10312018 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 445px;
  height              : auto;
  width               : 82px;
  position            : absolute;
  margin              : 0;
  left                : 528px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(51, 51, 102, 1.0);
  text-align          : left;
  letter-spacing      : -0.2px;
  line-height         : 15.0px;
}
.view-reports-desktop .delivery-success5 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 445px;
  height              : auto;
  width               : 190px;
  position            : absolute;
  margin              : 0;
  left                : 743px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(51, 51, 102, 1.0);
  text-align          : left;
  letter-spacing      : -0.2px;
  line-height         : 15.0px;
}
.view-reports-desktop .line-copy5 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 471px;
  height              : 2px;
  width               : 933px;
  position            : absolute;
  margin              : 0;
  left                : 250px;
}
.view-reports-desktop .ui-table-list-grey-background6 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 605px;
  height              : 41px;
  width               : 938px;
  position            : absolute;
  margin              : 0;
  left                : 251px;
}
.view-reports-desktop .ui-table-list-grey-background6 .rectangle146 {
  background-color    : rgba(240, 245, 250, 1.0);
  top                 : 0px;
  height              : 41px;
  width               : 938px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  opacity             : 0.5;
}
.view-reports-desktop .c-nbjsausjfkaaun812346 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 618px;
  height              : auto;
  width               : 182px;
  position            : absolute;
  margin              : 0;
  left                : 261px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(51, 51, 102, 1.0);
  text-align          : left;
  letter-spacing      : -0.2px;
  line-height         : 15.0px;
}
.view-reports-desktop .a01212018 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 619px;
  height              : auto;
  width               : 82px;
  position            : absolute;
  margin              : 0;
  left                : 528px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(51, 51, 102, 1.0);
  text-align          : left;
  letter-spacing      : -0.2px;
  line-height         : 15.0px;
}
.view-reports-desktop .delivery-success6 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 619px;
  height              : auto;
  width               : 190px;
  position            : absolute;
  margin              : 0;
  left                : 743px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(51, 51, 102, 1.0);
  text-align          : left;
  letter-spacing      : -0.2px;
  line-height         : 15.0px;
}
.view-reports-desktop .line-copy6 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 644px;
  height              : 2px;
  width               : 933px;
  position            : absolute;
  margin              : 0;
  left                : 250px;
}
.view-reports-desktop .ui-table-list-grey-background7 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 518px;
  height              : 41px;
  width               : 938px;
  position            : absolute;
  margin              : 0;
  left                : 251px;
}
.view-reports-desktop .ui-table-list-grey-background7 .rectangle147 {
  background-color    : rgba(240, 245, 250, 1.0);
  top                 : 0px;
  height              : 41px;
  width               : 938px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  opacity             : 0.5;
}
.view-reports-desktop .c-nbjsausjfkaaun812347 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 531px;
  height              : auto;
  width               : 182px;
  position            : absolute;
  margin              : 0;
  left                : 261px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(51, 51, 102, 1.0);
  text-align          : left;
  letter-spacing      : -0.2px;
  line-height         : 15.0px;
}
.view-reports-desktop .a08142018 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 532px;
  height              : auto;
  width               : 82px;
  position            : absolute;
  margin              : 0;
  left                : 528px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(51, 51, 102, 1.0);
  text-align          : left;
  letter-spacing      : -0.2px;
  line-height         : 15.0px;
}
.view-reports-desktop .delivery-success7 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 532px;
  height              : auto;
  width               : 190px;
  position            : absolute;
  margin              : 0;
  left                : 743px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(51, 51, 102, 1.0);
  text-align          : left;
  letter-spacing      : -0.2px;
  line-height         : 15.0px;
}
.view-reports-desktop .line-copy7 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 558px;
  height              : 2px;
  width               : 933px;
  position            : absolute;
  margin              : 0;
  left                : 250px;
}
.view-reports-desktop .ui-table-list-grey-background8 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 691px;
  height              : 41px;
  width               : 938px;
  position            : absolute;
  margin              : 0;
  left                : 251px;
}
.view-reports-desktop .ui-table-list-grey-background8 .rectangle148 {
  background-color    : rgba(240, 245, 250, 1.0);
  top                 : 0px;
  height              : 41px;
  width               : 938px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  opacity             : 0.5;
}
.view-reports-desktop .c-nbjsausjfkaaun812348 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 705px;
  height              : auto;
  width               : 182px;
  position            : absolute;
  margin              : 0;
  left                : 261px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(51, 51, 102, 1.0);
  text-align          : left;
  letter-spacing      : -0.2px;
  line-height         : 15.0px;
}
.view-reports-desktop .a03112018 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 705px;
  height              : auto;
  width               : 82px;
  position            : absolute;
  margin              : 0;
  left                : 528px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(51, 51, 102, 1.0);
  text-align          : left;
  letter-spacing      : -0.2px;
  line-height         : 15.0px;
}
.view-reports-desktop .delivery-success8 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 705px;
  height              : auto;
  width               : 190px;
  position            : absolute;
  margin              : 0;
  left                : 743px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(51, 51, 102, 1.0);
  text-align          : left;
  letter-spacing      : -0.2px;
  line-height         : 15.0px;
}
.view-reports-desktop .line-copy8 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 731px;
  height              : 2px;
  width               : 933px;
  position            : absolute;
  margin              : 0;
  left                : 250px;
}
.view-reports-desktop .ui-table-list-grey-background9 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 778px;
  height              : 41px;
  width               : 938px;
  position            : absolute;
  margin              : 0;
  left                : 251px;
}
.view-reports-desktop .ui-table-list-grey-background9 .rectangle149 {
  background-color    : rgba(240, 245, 250, 1.0);
  top                 : 0px;
  height              : 41px;
  width               : 938px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  opacity             : 0.5;
}
.view-reports-desktop .c-nbjsausjfkaaun812349 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 791px;
  height              : auto;
  width               : 182px;
  position            : absolute;
  margin              : 0;
  left                : 261px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(51, 51, 102, 1.0);
  text-align          : left;
  letter-spacing      : -0.2px;
  line-height         : 15.0px;
}
.view-reports-desktop .a012120181 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 792px;
  height              : auto;
  width               : 82px;
  position            : absolute;
  margin              : 0;
  left                : 528px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(51, 51, 102, 1.0);
  text-align          : left;
  letter-spacing      : -0.2px;
  line-height         : 15.0px;
}
.view-reports-desktop .delivery-success9 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 792px;
  height              : auto;
  width               : 190px;
  position            : absolute;
  margin              : 0;
  left                : 743px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(51, 51, 102, 1.0);
  text-align          : left;
  letter-spacing      : -0.2px;
  line-height         : 15.0px;
}
.view-reports-desktop .line-copy9 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 818px;
  height              : 2px;
  width               : 933px;
  position            : absolute;
  margin              : 0;
  left                : 250px;
}
.view-reports-desktop .ui-input-stroke {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 312px;
  height              : 42px;
  width               : 702px;
  position            : absolute;
  margin              : 0;
  left                : 369px;
}
.view-reports-desktop .ui-input-stroke .rectangle21 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : -1px;
  height              : 41px;
  width               : 702px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(219, 230, 227, 1.0);
}
.view-reports-desktop .ui-input-stroke .search {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 12px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 33px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(143, 143, 143, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.view-reports-desktop .ui-input-stroke .group {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 13px;
  height              : 15px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 11px;
}
.view-reports-desktop .ui-input-stroke .group .line2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 9px;
  height              : 6px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
}
.view-reports-desktop .ui-input-stroke .group .oval3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 12px;
  width               : 11px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.view-reports-desktop .ui-back-dark {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 987px;
  height              : 16px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 698px;
}
.view-reports-desktop .ui-back-dark .back2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 12px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(51, 51, 102, 1.0);
  text-align          : center;
  letter-spacing      : -0.2px;
  line-height         : 15.0px;
}
.view-reports-desktop .ui-back-dark .path41 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 4px;
  height              : 9px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.view-reports-desktop .ui-pagination {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 914px;
  height              : 27px;
  width               : 462px;
  position            : absolute;
  margin              : 0;
  left                : 489px;
}
.view-reports-desktop .ui-pagination .group1 {
  background-color    : rgba(255, 255, 255, 0.0);
  width               : 100%;
  height              : 27px;
  pointer-events      : auto;
  position            : relative;
}
.view-reports-desktop .ui-pagination .group1-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0;
  height              : 100%;
  width               : 27px;
  justify-content     : center;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 70px;
}
.view-reports-desktop .ui-pagination .group1 .oval5 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 27px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.view-reports-desktop .ui-pagination .group1 .a1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 4px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : -0.23px;
  line-height         : 18.0px;
}
.view-reports-desktop .ui-pagination .a2 {
  background-color    : rgba(255, 255, 255, 0.0);
  width               : auto;
  height              : auto;
  pointer-events      : auto;
  position            : relative;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(51, 51, 102, 1.0);
  text-align          : left;
  letter-spacing      : -0.23px;
  line-height         : 18.0px;
}
.view-reports-desktop .ui-pagination .a2-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0;
  height              : 100%;
  width               : auto;
  justify-content     : center;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 155px;
}
.view-reports-desktop .ui-pagination .label1 {
  background-color    : rgba(255, 255, 255, 0.0);
  width               : auto;
  height              : auto;
  pointer-events      : auto;
  position            : relative;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(51, 51, 102, 1.0);
  text-align          : left;
  letter-spacing      : -0.23px;
  line-height         : 18.0px;
}
.view-reports-desktop .ui-pagination .label1-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0;
  height              : 100%;
  width               : auto;
  justify-content     : center;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 299px;
}
.view-reports-desktop .ui-pagination .a3 {
  background-color    : rgba(255, 255, 255, 0.0);
  width               : auto;
  height              : auto;
  pointer-events      : auto;
  position            : relative;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(51, 51, 102, 1.0);
  text-align          : left;
  letter-spacing      : -0.23px;
  line-height         : 18.0px;
}
.view-reports-desktop .ui-pagination .a3-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0;
  height              : 100%;
  width               : auto;
  justify-content     : center;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 226px;
}
.view-reports-desktop .ui-pagination .a10 {
  background-color    : rgba(255, 255, 255, 0.0);
  width               : auto;
  height              : auto;
  pointer-events      : auto;
  position            : relative;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(51, 51, 102, 1.0);
  text-align          : left;
  letter-spacing      : -0.23px;
  line-height         : 18.0px;
}
.view-reports-desktop .ui-pagination .a10-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0;
  height              : 100%;
  width               : auto;
  justify-content     : center;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 370px;
}
.view-reports-desktop .ui-pagination .ui-chevron-blue {
  background-color    : rgba(255, 255, 255, 0.0);
  width               : 100%;
  height              : 9px;
  pointer-events      : auto;
  position            : relative;
}
.view-reports-desktop .ui-pagination .ui-chevron-blue-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0;
  height              : 100%;
  width               : 6px;
  justify-content     : center;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 456px;
}
.view-reports-desktop .ui-pagination .ui-chevron-blue .path42 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 9px;
  width               : 6px;
  position            : relative;
  margin              : 0;
  left                : 0px;
}
.view-reports-desktop .ui-pagination .ui-chevron-blue-copy {
  background-color    : rgba(255, 255, 255, 0.0);
  width               : 100%;
  height              : 9px;
  pointer-events      : auto;
  position            : relative;
  opacity             : 0.56;
}
.view-reports-desktop .ui-pagination .ui-chevron-blue-copy-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0;
  height              : 100%;
  width               : 6px;
  justify-content     : center;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0px;
}
.view-reports-desktop .nav-footer-ipad {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 1012px;
  height              : 179px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.view-reports-desktop .nav-footer-ipad .rectangle11 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 2px;
  height              : 177px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.view-reports-desktop .nav-footer-ipad .page1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 178px;
  width               : 158px;
  position            : absolute;
  margin              : 0;
  left                : 342px;
}
.view-reports-desktop .nav-footer-ipad .page1 .fill1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 96px;
  width               : 158px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.view-reports-desktop .nav-footer-ipad .page1 .fill3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 94px;
  height              : 84px;
  width               : 96px;
  position            : absolute;
  margin              : 0;
  left                : 32px;
}
.view-reports-desktop .nav-footer-ipad .page1 .fill5 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 156px;
  height              : 13px;
  width               : 23px;
  position            : absolute;
  margin              : 0;
  left                : 41px;
}
.view-reports-desktop .nav-footer-ipad .copyright2018-acc {
  background-color    : rgba(255, 255, 255, 0.0);
  width               : auto;
  height              : auto;
  pointer-events      : auto;
  position            : relative;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(51, 51, 102, 0.67);
  text-align          : center;
  line-height         : 15.0px;
}
.view-reports-desktop .nav-footer-ipad .copyright2018-acc-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 85px;
  align-items         : center;
  height              : auto;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}